* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #d9d3d9;
  }

  header {
    padding: 20px 35px;
    background-color: #285458;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
  }

  header a {
    text-decoration: none;
    color: #d3d3d3;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }


  header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
  }



  .hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/tech-hero.jpg");
    background-size: cover;
    background-position: center;
    }

    .about-me {
        display: flex;
        flex-wrap: wrap;
        padding: 50 px;
    }

    .container {
        flex-wrap: wrap;
    }

    .container .card {
        height: 100px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .container h2 {
        float: left;
    }

    footer nav ul li a {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }