* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #d9d3d9;
}

header {
  padding: 20px 35px;
  background-color: #285458;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #d3d3d3;
  }

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}


header nav ul li a {
  padding: 10px 15px;
  font-weight: normal;
  font-size: 1.55vw;
}



.hero {
  height: 175px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/tech-hero.jpg");
  background-size: cover;
  background-position: center;
}

.about-me,
.contact-me, 
.credentials,
.work,
.skills {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-evenly;
}

.about-me p {
  width: 70%;
}

.main-card {
  width: 70%;
  height: 25pc;
  align-items: center;
  border-radius: 20px;
  background-image: url(../images/DollarFlights.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.sec-card {
  width: 40%;
  height: 22pc;
  border-radius: 20px;
  background-image: url(../images/Password.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.third-card {
  width: 40%;
  height: 22pc;
  border-radius: 20px;
  background-image: url(../images/RunBuddy.png);
  background-size: cover;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.card-text {
  width: 100%;
  text-align: center;
}

.education{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 0;
}

.education h3 {
  width: 80%;
  padding-left: 25px;
}

.education .date {
  color: var(--primary-color);
  text-align: right;
  padding-right: 25px;
  width: 20%;
}

.education .sub-title {
  width: 80%;
  padding-left: 25px;
  font-style: italic;
}

/* .frontend {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.skills div {
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact-me nav {
  width: 70%;
}

.contact-me nav ul {
  display: flex;
  justify-content: space-around;
}